body .twenty-fifteen-pattern p {
    font-size: 1.6rem;
    margin-bottom: 1.6842em;
    color: #222;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
}