div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-image: url('../../images/ajax-loader.gif');
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
	margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
	cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.form-label{

	    font-size: 1.6rem;
    margin-bottom: 1.0em;
    color: #fff;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    margin-top: -10px;
}

.input-txt{

	    width: 100%;
    padding: 0.1em;
    line-height: normal;
    font-size: 1.9rem;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.7);
    background: #F7F7F7 none repeat scroll 0% 0%;
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
    vertical-align: baseline;
    font-family: "Noto Serif",serif;
    box-sizing: border-box;
    max-height: 75px;
}

.txtarea-txt{

	width: 100%;
    padding: 0.1em;
    line-height: normal;
    font-size: 1.9rem;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.7);
    background: #F7F7F7 none repeat scroll 0% 0%;
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
    vertical-align: baseline;
    font-family: "Noto Serif",serif;
    box-sizing: border-box;
    max-height: 75px;
}

.form-submit{

	    width: 100%;
    padding: 0.1em;
    line-height: normal;
    font-size: 1.9rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #ff9000 none repeat scroll 0% 0%;
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
    vertical-align: baseline;
    font-family: "Noto Serif",serif;
    box-sizing: border-box;
    max-height: 75px;
}

.form-submit2{
font-size: 1.6rem;
    padding: 0.8125em 1.625em;
    background: #ff9c00 none repeat scroll 0% 0%;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    font-family: "Noto Sans",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;

}

#wrapper-14 {
    background-color: #f5f5f5;
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    border-bottom-style: none;
}

#wrapper-17 {
    background-color: #ffffff;
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    border-bottom-style: none;
}

#wrapper-18 {
    background-color: #e2e3e0;
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    border-bottom-style: none;
}

.vc_btn3-container {
    display: block;
    margin-bottom: 21.7391px;
    max-width: 300px;
    /* margin: auto; */
    margin-top: 20px;
}

.contact-form-container {
    background-color: #e2e3e0;
    min-height: 1000px;
}

.contact-form-wrapper {
    width: 100%;
    max-width: 660px;
    margin-top: 100px;
    padding: 30px;
    background: #fff;
    height: max-content;
}

body .minimal-brown input.wpcf7-form-control.wpcf7-text,
body .minimal-brown textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100% !important;
}

.button.button-34.button-contact {
    text-align: center;
    font-size: 36px !important;
    margin-bottom: 20px; 
}

@media only screen and (max-width: 767px) {
    .button.button-34.button-contact {
        font-size: 16px !important;
    }

    .contact-form-wrapper {
        margin-top: 20px;
    }
}

.wpcf7-form label {
    width: 100% !important;
}


