body {
  	background-image: url("../img/langleyBG.jpg");
    background-color: #222222;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#col-7-1 .colwrapper {
    background-image: url("../img/langleyBG2.jpg");
    background-size: cover;
}
.vc_bg {
    width: 100% !important;
}
#button-id-1 {
    font-size: 15px;
}
.button.button-34:hover, .button.button-34:focus {
    background-color: #FFC468;
    border-width: 1px;
    border-style: solid;
    border-color: #1da1f2;
    color: #FFF !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
.button-block {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button.button-34 {
	background-color:  rgb(29, 161, 242);
	border-top: 1px solid rgb(29, 161, 242);
	border-right: 1px solid rgb(29, 161, 242);
	border-bottom: 1px solid rgb(29, 161, 242);
	border-left: 1px solid rgb(29, 161, 242);
	border-radius: 0px;
	color: #fff !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	font-weight:bold;
}
.button.button-34:hover,.button.button-34:focus {
	background-color: rgb(255, 196, 104);
	border-top: 1px solid #1da1f2
	border-right: 1px solid #1da1f2
	border-bottom: 1px solid #1da1f2
	border-left: 1px solid #1da1f2
	color: #fff !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	font-weight:bold;
}

#jumbotron2-11 .jumbotron-heading {
    font-size: 27px;
    font-variant: normal;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 0px;
}

.sub-header-font, .fonts-loaded .sub-header-font {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: normal;
}

#jumbotron2-11 {
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
}

#wrapper-1 {
    background-color: #717376;
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    border-bottom-style: none;
    max-height: 60px;
}

#container-4 {
    min-height: 95px;
}

#logo-container {
    margin-top: -15px;
}

.col-md-1 {
    float: left;
    max-height: 60px;
}

.wfm-mega-menu ul li {
    float: left;
    margin: 0px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 100;
}

.wfm-mega-menu ul li a {
    float: left;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #fff;
}

.wfm-mega-menu ul li a:hover {
    float: left;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #1da1f2;
}

.entry-title, .post-meta {
    display: none;
}

.vc_col-sm-12 {
    width: 100%;
    margin-left: 10px;
}

.vc_custom_1443817332265 {
    padding-bottom: 0px !important;
    letter-spacing: 1px;
    //text-shadow: 1px 1px #000;
}

.vc_custom_1443817456665 {
    margin-top: -10px;
    padding-bottom: 20px !important;
    font-family: impact;
    font-size: 90px;
}

.vc_row wpb_row .vc_inner .vc_row-fluid {
    float: left; 
    margin-left: -10px;
}

.vc_btn3.vc_btn3-color-grey, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
    color: #000;
    background-color: #EBEBEB;
    text-align: center;
}
.vc_btn3-container {
    display: block;
    margin-bottom: 21.7391px;
    max-width: 300px;
}

.vc_custom_1444078773947 {
    margin-top: 40px;
    padding-bottom: 0px !important;
    font-family: impact;
    font-size: 70px;
}

#wrapper-2 {
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    max-height: 500px;
}

.jumbotron-heading-inner2 {
    font-size: 48px;
    font-family: "Impact",Arial,sans-serif;
    font-weight: bold;
    line-height: 1.5;
    //font-variant: normal;
    text-transform: uppercase;
    color: #54585C;
    margin-bottom: 1px;
}

.sub-header-font, .fonts-loaded .sub-header-font {
    margin-top: -10px;
}

.jumbotron-subheading {
    font-size: 20px;
    font-variant: normal;
    text-transform: uppercase;
    color: #1da1f2;
}

.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fff;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
    line-height: 130%;
}

.jumbotron2 p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
    line-height: 130%;
}

.wp-image-64, .wp-image-65, .wp-image-66 {
    border: 1px solid #D4D6D7;
    padding: 3px;
}

#wrapper-8 {
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    border-bottom: 10px solid #D8D8D8;
}

#wrapper-5 {
    background-color: #FFF;
    background-position: left top;
    background-repeat: repeat;
    border-top: 10px solid #D8D8D8;
    border-bottom: 5px solid #D8D8D8;
}

#uxi_widget_cta2-75 {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    padding: 15px 15px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #54585C;
    margin-bottom: 10px;
    text-align: center;
}

#uxi_widget_cta2-65 {
    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    text-align: center;
    padding: 15px 15px 20px;
    margin-bottom: 10px;
    color: #54585C;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

#uxi_widget_cta2-75 .cta2-image {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px;
    border: 1px solid #D2D4D7;
}

#uxi_widget_cta2-75 .cta2-heading {
    margin-top: 20px;
    background-color: rgba(216, 220, 233, 0.1);
}

#uxi_widget_cta2-75 .cta2 .cta2-heading h2 {
    font-size: 20px;
}
#uxi_widget_cta2-75 .cta2-heading h2 {
    font-variant: normal;
    text-transform: uppercase;
    color: #54585C;
}

#uxi_widget_cta2-65 .cta2-image {
    border: 1px solid #D2D4D7;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.7);
}

#uxi_widget_cta2-65 .cta2-heading {
    background-color: rgba(216, 220, 233, 0.1);
    margin-top: 20px;
}

#uxi_widget_cta2-65 .cta2 .cta2-heading h2 {
    font-size: 20px;
}
#uxi_widget_cta2-65 .cta2-heading h2 {
    color: #54585C;
    font-variant: normal;
    text-transform: uppercase;
}


/* === footer === */

.nav-holder {
    float: left;
    z-index: 99997;
    padding-top: 15px;
    padding-bottom: 5px;
}

.nav-holder ul li a {
    color: #fff;
}

.nav-holder ul li a:hover {
    color: #1da1f2;
}

/*  SECTIONS 2 Column ======================================================  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

/*  SECTIONS 3 Columns ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

#wrapper-32 {
    background-color: #000;
    background-position: left top;
    background-repeat: repeat;
    border-top-style: none;
    border-bottom-style: none;
    padding-bottom: 25px;
}


.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -20px;
    margin-left: -20px;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #1da1f2;
    background-color: transparent;
}

#container-33 {
    background-position: left top;
    background-repeat: repeat;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

body .twenty-fifteen-pattern p {
    font-size: 1.6rem;
    margin-bottom: 1.0em;
    color: #fff;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    margin-top: -10px;
}
body .twenty-fifteen-pattern input[type="text"], body .twenty-fifteen-pattern input[type="email"], body .twenty-fifteen-pattern input[type="url"], body .twenty-fifteen-pattern input[type="submit"], body .twenty-fifteen-pattern textarea {
    width: 100%;
    padding: 0.1em;
    line-height: normal;
    font-size: 1.9rem;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.7);
    background: #F7F7F7 none repeat scroll 0% 0%;
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
    vertical-align: baseline;
    font-family: "Noto Serif",serif;
    box-sizing: border-box;
    max-height: 75px;
}

body .twenty-fifteen-pattern input[type="submit"] {
    width: 100%;
    padding: 0.1em;
    line-height: normal;
    font-size: 1.9rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #ff9000 none repeat scroll 0% 0%;
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
    vertical-align: baseline;
    font-family: "Noto Serif",serif;
    box-sizing: border-box;
    max-height: 75px;
}

div.col.span_1_of_2 {
    padding-top: 25px;
    padding-bottom: 50px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    text-align: center;
    color: #222;
}

div.col.span_1_of_2 a:hover {
	background-color: rgb(255, 196, 104);
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 0px;
    border-style: none;
    border-color: #FFF;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: none!important;
  }
  div#wrapper-7 {
    background-image: none!important;
  }
  .vc_custom_1443817456665 {
    margin-top: -10px;
    padding-bottom: 20px !important;
    font-family: impact;
    font-size: 40px;
}
  .jumbotron-heading-inner2 {
    font-size: 38px;
    font-family: "Impact",Arial,sans-serif;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    color: #54585C;
    margin-bottom: 1px;
}
  .vc_custom_1444078773947 {
    margin-top: 10px;
    padding-bottom: 0px !important;
    font-family: impact;
    font-size: 30px;
}
  #container-8 {
    background-position: left top;
    background-repeat: repeat;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .wp-image-64, .wp-image-65, .wp-image-66 {
    border: 1px solid #D4D6D7;
    padding: 3px;
    width: 97%;
    max-width: 359px;
    height: auto;
}
    .cta2-image {
    border: 1px solid #D4D6D7;
    padding: 3px;
    width: 97%;
    max-width: 359px;
    height: auto;
}
.navbar-toggle {
    position: relative;
    float: left;
    margin-right: 1px;
    padding: 9px 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-brand > img {
    display: block;
    max-height: 35px;
    text-align: center;
}
div#col-32-2.ult-column.col-md-3 {
    margin-top: -50px;
  }
.navbar-inverse {
    color: #1da1f2;
    background-color: #000;
    border-color: #000;
    padding-bottom: 10px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
} 


#container-4 {
    min-height: 65px;
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/langleyBG.jpg) !important;
        overflow: hidden !important;
    }
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

#wrapper-4 {
    background-color: rgba(255, 255, 255, 0.753);
}

#logo-container {
    margin-top: -30px;
}


#logo-container img {
    height: 80px !important;
}

.wfm-mega-menu {
    margin-top: 5px;
}

.wfm-mega-menu ul li a {
    color: rgb(29, 161, 242) !important;
}

.wfm-mega-menu ul li a:hover {
    color: #2a54c0 !important;
}